<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
  <script>
  </script>
  <title>AMS Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="w3.css">
  <link href="jquery-ui.css" rel="stylesheet">

  <script src="jquery-1.10.2.js"></script>
  <script src="jquery-ui.js"></script>
  <script src="script.js"></script>

</head>

<body>
  <!-- nAVIGATION Div-->
<% include menu.html %>
  <div class="w3-container">

    <div class="page-header text-center">
      <h2><span class="fa fa-anchor"></span> Home Page</h2>


    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-6 w3-container w3-light-grey">
        <div class="well w3-container">
          <h3><span class="fa fa-user"></span> Local</h3>

          <p>
            <strong>id</strong>:
            <%= user._id %><br>
              <strong>email</strong>:
              <%= user.local.email %><br>
              </p>
          <form action="/findUser" method="post">
            <div class="w3-center">
            <button class="w3-btn w3-blue-gray w3-block editUserButton " type="submit" >Edit User</button>
            </div>
            <input type="text" name="email_id" hidden="true" value="<%=user.local.email%>">
          </form>
        </div>
      </div>
      <% if (toapproved!==0) { %>
        <div class="alert alert-danger w3-center">
        <a href="\toApprove">You have <%= toapproved %> Shift Swaps to approve. </a>
        </div>
        <% } %>
      <%if(user.local.email=="asd@asd.com") { %>
        <form method="post" action="/loadJson" class="w3-container loadJsonForm">

          <label>Enter Json Data</label>
          <input class="w3-input" type="text" name="jsonData">
          <button class="w3-btn w3-blue loadJsonButton" type="submit">Insert</button>
          <% if (message.length > 0) { %>
            <div class="alert alert-danger">
              <%= message %>
            </div>
            <% } %>
        </form>
        <%}%>
    </div>

  </div>
  <script>
    $('button.loadJsonButton').click(function() {
      $('form.loadJsonForm').submit();
    });
  </script>
</body>

</html>
