<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>

  <title>AMS Home- Swap Shift</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="w3.css">
  <link href="jquery-ui.css" rel="stylesheet">
  <link href="ViewbyEmpTable.css" rel="stylesheet">
  <script src="jquery-1.10.2.js"></script>
  <script src="jquery-ui.js"></script>
  <script src="script.js"></script>

  </script>
</head>

<body>

  <!-- nAVIGATION Div-->
<% include menu.html %>
<div class="page-header text-center">
    <h2><span class="fa fa-anchor"></span>Swap Shift</h2>
  </div>
<% if(stepLevel==1) {%>

<div class="w3-container w3-blue ">
  <p class="w3-indigo w3-small w3-center">Choose First Shift</p>
  <form action="validateStep1" method="post">
<input type="text" name="evaluvation"  value="1" hidden="true">
    <label for="selectStaff">Choose Staff</label>

    <select class="selectStaff w3-dropdown-click" name="selectStaff">
  <% if ( resultSet ) {%>
      <% for(var i=0 ; i < resultSet.length; i++){%>
        <option name="<%= resultSet[i] %>" value="<%= resultSet[i] %>"><%=resultSet[i]%></option>
        <% }} %>
      </select>
      <label for="selectShift">Shift</label>
    <select class="selectShift w3-dropdown-click" name="selectShift">
        <option name="T1E" value="T1-E">T1-E</option>
        <option name="S1" value="S1">S1</option>
        <option name="T1L" value="T1-L">T1-L</option>
        <option name="T2E" value="T2-E">T2-E</option>
        <option name="T2L" value="T2-L">T2-L</option>
        </select>
    <p>Enter First Date: <input type="date" id="datepicker13" name="startDate" requiIndigo=""></p>
    <div style="text-align: center"><button class="w3-button w3-indigo w3-bar" type="submit" >Validate First Shift</button></div>
  </form>
  <%if(message){%>
  <p class="w3-black" style="text-align: center"><%=message %></p>
  <%}}%>
</div>



<% if(stepLevel==2) {%>


  <p class="w3-Indigo w3-small w3-center">Choose Second Shift</p>
  <form action="validateStep1" method="post">
    <%if (message) { %>
      <div class="w3-panel w3-blue w3-center">
    <p class="w3-indigo w3-small w3-bar"><%=message%></p>
    <input type="text" name="firstShift"  value="<%=validateShift[0].staff[0].shift %>" hidden="true">
    <input type="text" name="firstName"  value="<%=validateShift[0].staff[0].name %>" hidden="true">
    <input type="text" name="firstDate"  value="<%=validateShift[0].date %>" hidden="true">
    <label name="firstDate"><%=validateShift[0].date+ " " + validateShift[0].staff[0].name + " " + validateShift[0].staff[0].shift %><label>
  <%}%>  </div>
    <input type="text" name="evaluvation"  value="2" hidden="true">
    <div class="w3-container w3-blue w3-padding ">
      <label for="selectStaff">Choose Staff</label>
    <select class="selectStaff w3-dropdown-click" name="selectStaff">
  <% if ( resultSet ) {%>
      <% for(var i=0 ; i < resultSet.length; i++){%>
        <option name="<%= resultSet[i] %>" value="<%= resultSet[i] %>"><%=resultSet[i]%></option>
        <% }} %>
      </select>
      <label for="selectShift">Choose Shift</label>
    <select class="selectShift w3-dropdown-click" name="selectShift">
        <option name="T1E" value="T1-E">T1-E</option>
        <option name="S1" value="S1">S1</option>
        <option name="T1L" value="T1-L">T1-L</option>
        <option name="T2E" value="T2-E">T2-E</option>
        <option name="T2L" value="T2-L">T2-L</option>
        </select>
    <p>Enter Second Date: <input type="date" id="datepicker13" name="startDate" requiIndigo=""></p>
  <div style="text-align: center">  <button class="w3-button w3-indigo w3-bar" type="submit">Validate Second Shift</button></div>
  </form>
</div>
<%}%>

<%if(stepLevel==3){%>
  <%if (message) { %>
    <form action="validateStep1" method="post">
      <input type="text" name="evaluvation" value="3" hidden="true">
      <div class="w3-panel w3-blue w3-round w3-center w3-small">
        <p class="w3-small w3-Indigo">First Shift Choosen:</p>
        <input type="text" name="firstShift" value="<%=firstShift %>" hidden="true">
        <input type="text" name="firstName" value="<%=firstName %>" hidden="true">
        <input type="text" name="firstDate" value="<%=firstDate %>" hidden="true">
        <label name="firstDate" class="w3-large"><%=firstDate+ " " + firstName + " " + firstShift %><label></div>
  <div class="w3-panel w3-blue w3-round w3-center w3-small">
  <p class="w3-small w3-Indigo">Second Shift Choosen:</p>
  <input type="text" name="secondShift"  value="<%=validateShift[0].staff[0].shift %>" hidden="true">
  <input type="text" name="secondName"  value="<%=validateShift[0].staff[0].name %>" hidden="true">
  <input type="text" name="secondDate"  value="<%=validateShift[0].date %>" hidden="true">
  <label name="firstDate" class="w3-large"><%=validateShift[0].date+ " " + validateShift[0].staff[0].name + " " + validateShift[0].staff[0].shift %><label></div>
<div class="w3-panel w3-blue w3-round text-center">
  <p><%=message%></p>
    <button class="w3-btn w3-indigo w3-bar" type="submit">Request Approval</button>
</div>
</form>
  <%}%>

<%}%>
</body>
</html>
