<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
  <script>
  </script>
  <title>AMS Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="w3.css">
  <link href="jquery-ui.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="jquery-1.10.2.js"></script>
  <script src="jquery-ui.js"></script>
  <script src="script.js"></script>


</head>

<body>
  <!-- nAVIGATION Div-->
  <% include menu.html %>
  <div class="w3-container">

    <div class="page-header text-center">
      <h2><span class="fa fa-anchor"></span> Approve Shift Swaps</h2>
    </div>

    </div>

<%if(message) { %>
<p><%=message %></p>
<%}%>
<div class="container">
<div class="panel-group" id="accordion">
 <%
for(var i=0;i<swaps.length;i++)
{
  %>
  <%
var swapped;
var colour;
if((swaps[i].firstShift === swaps[i].secondShift)&&(swaps[i].firstDate === swaps[i].secondDate))
  {
    swapped=" Delegated ";
    colour="w3-light-blue";
  }
  else
  {
    swapped=" Swapped ";
    colour="w3-blue"
  }
 %>

    <div class="panel panel-default">
      <div class="panel-heading <%= colour %>">
        <h4 class="panel-title w3-white w3-small">
          <a data-toggle="collapse" data-parent="#accordion" href="#<%=swaps[i]._id%>" ><%=swaps[i].firstName+'-'+swaps[i].firstDate+swapped+swaps[i].secondName+'-'+swaps[i].secondDate%></a>
        </h4>
      </div>
      <div id="<%=swaps[i]._id%>" class="panel-collapse collapse out">
        <div class="panel-body">
        <form action="submitApprove" method="post">
          <input type="text" name="swapType"  value="<%=swapped %>" hidden="true">
          <input type="text" name="id"  value="<%=swaps[i]._id %>" hidden="true">
          <input type="text" name="firstShift"  value="<%=swaps[i].firstShift %>" hidden="true">
          <input type="text" name="firstName"  value="<%=swaps[i].firstName %>" hidden="true">
          <input type="text" name="firstDate"  value="<%=swaps[i].firstDate %>" hidden="true">
          <input type="text" name="secondName"  value="<%=swaps[i].secondName %>" hidden="true">
          <input type="text" name="secondShift"  value="<%=swaps[i].secondShift %>" hidden="true">
          <input type="text" name="secondDate"  value="<%=swaps[i].secondDate %>" hidden="true">
          <input type="text" name="submitDate"  value="<%=swaps[i].submitDate %>" hidden="true">
          <input type="text" name="submittedBy"  value="<%=swaps[i].submittedBy %>" hidden="true">

<table class="w3-table-all">
  <tr>
    <th>First Shift</th>
    <th>Second Shift</th>
  </tr>
  <tr>
    <td>
      <%= swaps[i].firstDate%>
    </td>
    <td>
      <%= swaps[i].secondDate%>
    </td>
  </tr>
  <tr>
    <td>
      <%= swaps[i].firstShift %>
    </td>
    <td>
      <%= swaps[i].secondShift%>
    </td>
  </tr>
  <tr>
    <td>
      <%= swaps[i].firstName%>
    </td>
    <td>
      <%= swaps[i].secondName%>
    </td>
  </tr>
</table>
<p class="w3-panel w3-gray">Submit Date:
  <%= swaps[i].submitDate%>
</p>
<p class="w3-panel w3-gray">Email:
  <%= swaps[i].submittedBy%>
</p>
<div class="w3-center">
<button type="submit" class="btn w3-blue" formaction="/approveswap">Approve</button>
<button type="submit" class="btn w3-red" formaction="/deleteswap">Delete</button>
</div>
</form>        </div>
      </div>
    </div>



    <% } %>
   </div>
  </div>







</body>
<script>
function myFunction() {
    var x = document.getElementById("Demo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
</html>
