<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="w3.css">
  <link href="jquery-ui.css" rel="stylesheet">
  <link href="ViewAllEmpTable.css" rel="stylesheet">

  <script src="jquery-1.10.2.js"></script>
  <script src="jquery-ui.js"></script>
  <script src="script.js"></script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>


</head>
<body>
<% include menu.html %>
  <div class=" text-center">
      <h2><span class="fa fa-anchor"></span> Roster Page</h2>
  </div>

        <!-- LOCAL INFORMATION -->


<div class="w3-container w3-mobile text-center w3-blue w3-padding">
  <form action="/rosterDates" method="post" class="rosterDates">
  <p>Enter  Start Date: <input type = "date" id = "datepicker13" name="startDate" required="" ></p>
  <p>Enter End Date: <input type = "date" id = "datepicker14" name="endDate" required="" ></p>
  <button class="w3-button w3-indigo w3-bar " type="submit">submit</button>
</form>
</div>

<% if(message.length<0) { %>
<div class="w3-panel w3-red w3-card-4"><p><%= message%></p> </div>
<% } %>


              <% if (workDays)  {
                var t1e,t1l,t2e,t2l,s1;

                %>
                <div class="well w3-container">
                    <h3><span class="fa fa-user"></span> Shifts </h3>
</div>
<table class="table1 ">
	<thead>
	<tr>
		<th >Date</th>
		<th >T1 Early</th>
		<th >T1Swing</th>
    <th >T1 Late</th>
    <th >T2 Early</th>
    <th >T2 Late</th>
	</tr>
	</thead>
	<tbody>

    <%  for(var i=0 ; i < workDays.length; i++)  { %>
    <tr>
		<td><%= workDays[i].date %></td>

    <% for(var j=0 ; j < workDays[i].staff.length; j++)
    {

if( workDays[i].staff[j].shift =="T1-E")
{
      t1e=workDays[i].staff[j].name;
}
if( workDays[i].staff[j].shift =="T1-L")
{
      t1l=workDays[i].staff[j].name;
}
if( workDays[i].staff[j].shift =="S1")
{
      s1=workDays[i].staff[j].name;
}
if( workDays[i].staff[j].shift =="T2-E")
{
      t2e=workDays[i].staff[j].name;
}
if( workDays[i].staff[j].shift =="T2-L")
{
      t2l=workDays[i].staff[j].name;
}
  } %>
<td><%= t1e %></td>
<td><%= s1 %></td>
<td><%= t1l %></td>
<td><%= t2e %></td>
<td><%= t2l %></td>
</tr>
  <% } %>
	</tbody>
</table>
  <% } %>
</body>

</html>
